* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 100;
    overflow-x: auto; /* Enable horizontal scrolling */
}
  
.bold { font-weight: bold; }
.gray { color: #7c7c7c; }
.grad1 {
    background-image: linear-gradient(45deg, #f48d2d 0%, #edc235 50%, #eba99f 100%);
    background-clip: text;
    color: transparent;
}
.grad2 {
    background-image: linear-gradient(45deg, #6372c0 0%, #7b84b4 50%, #8b99df 100%);
    background-clip: text;
    color: transparent;
}
.grad3 {
    background-image: linear-gradient(45deg, #eba99f 30%, #6372c0 100%);
    background-clip: text;
    color: transparent;
}

.custombr {
    display: none;
}


/* Intro */
.intro-message {
    position: relative;
    margin: 0px; /* Add some margin */
    top: 85px;
    margin-top: -30px;
    max-width: 90%; /* Adjust max-width */
    text-align: right;
}

.intro-message h1 {
    font-size: 3vw;
    line-height: 1.2;
    white-space: nowrap;
}

/* Navigation Buttons */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1; /* Ensure buttons are on top */
}

.left-button {
    left: 15px;
}

.right-button {
    right: 15px;
}

.scroll-button:hover {
    background-color: rgba(255, 255, 255, .8); /* Fully opaque on hover */
}

/* Cards */
.rs-cards-shelf {
    max-width: 100%;
    margin-top: 165px; /* Brings it down */
}

.as-l-container.rs-cards-shelf-header {
    padding: 30px; /* Adds 20px padding on all sides */
}

.rs-cards-shelf-mainheader {
    padding-left: 30px;
    padding-bottom: 0px; /* Adds some space below the main header */
    font-size: 2vw;
}

.rs-cards-shelf-secondaryheader {
    padding-top: 0px; /* Adds some space above the secondary header */
    font-size: 19px;
    color: #4d4d4d;

}

.as-l-container {
    margin-bottom: -10px;
}

.rf-cards-scroller {
    position: relative;
}

.rf-cards-scroller-crop {
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 5px 0; /* vertical padding for hover effect */
    width: 100%;
    scrollbar-width: none; /* no bar for Firefox */
    -ms-overflow-style: none;  /* no bar for Internet Explorer and Edge */
}

.rf-cards-scroller-crop::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.rf-cards-scroller-content {
    display: flex;
    gap: 5px; /* gap inbtwn cards */
    align-items: stretch;
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    margin: 0 -10px;
    flex-shrink: 0;
}

.rf-cards-scroller-content::before {
    content: '';
    width: 55px;
    flex-shrink: 0;
}
.rf-cards-scroller-content::after {
    content: '';
    width: 42px;
    flex-shrink: 0;
}

.rf-cards-scroller-itemview {
    flex: 0 0 auto; /* Prevent items from growing or shrinking */
    width: 27vw; /* 80% of the viewport width */
    max-width: 650px;
    height: auto; /* Let the height adjust based on content */

    background-color: transparent;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    margin: 0 10px;
    /* Add padding at the bottom for the footer text */
    padding-bottom: 25px;
}

.rf-cards-scroller-itemview:hover {
    transform: scale(1.03); /* Hover effect */
}

.rf-ccard {
    position: relative;
}

.rf-ccard-img-full-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Text overlay */
.rf-ccard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: transparent; /* Dark background for better visibility */
    padding: 21px;
    font-size: 20px;
    text-align: left;
    border-radius: 10px 10px 0 0;
}

.rf-ccard-overlay span {
    display: block;
    margin-bottom: 5px;
}

.rf-ccard-overlay .first-txt {
    font-size: 1.5em; /* Makes the text 50% larger than the default */
    font-weight: bold; /* Optional: makes the text bold */
    margin-bottom: -7px; /* Adds some space between the two lines */
    display: block; /* Ensures the span takes up the full width */
}

.rf-ccard-overlay .second-txt {
    font-size: 0.9em; /* Makes the text 10% smaller than the default */
    display: block; /* Ensures the span takes up the full width */
}

.card-footer {
    font-size: 16px; /* Small text */
    color: #4d4d4d; /* Gray color */
    padding: 5px 5px; /* Some padding */
    text-align: left; /* Align text to the left */
    background: transparent;
}

/* Optional: Smooth scroll for trackpad swipe */
.rf-cards-scroller-crop {
    scroll-behavior: smooth;
}

.scrollable-element {
    /* For WebKit-based browsers */
    ::-webkit-scrollbar {
        display: none;
    }
    /* For Firefox */
    scrollbar-width: none;
    /* For IE and older versions of Edge */
    -ms-overflow-style: none;
}

@media (max-width: 1695px) {
    .intro-message {
        position: absolute;
        left: auto;
        right: 60px;
        top: 85px;
        max-width: 3000px;
        text-align: left;
    }
    
    .intro-message h1 {
        display: block;
        font-size: 50px;
        line-height: 1.2;
    }

    .rs-cards-shelf-mainheader {
        font-size: 34px;
    }

    .rs-cards-shelf {
        margin-top: 365px; /* Brings it down */
    }

    .rf-cards-scroller-itemview {
        width: 80vw; /* 80% of the viewport width */
        max-width: 450px;
    }
}

@media (max-width: 927px) {
    .rs-cards-shelf {
        margin-top: 350px; /* Brings it down */
    }

    .rs-cards-shelf-mainheader {
        white-space: nowrap;
    }

    .custombr {
        display: inline;
    }
}

@media (max-width: 633px) {
    .intro-message {
        position: absolute;
        right: 0px;
        left: 60px;
        top: 85px;
        max-width: 3000px;
        text-align: left;
    }
    .intro-message h1 {
        display: block;
        font-size: 50px;
        line-height: 1.2;
        white-space: nowrap;
    }
    /* Hide buttons on small screens or adjust their size */
    .scroll-button {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    
}

@media (max-width: 480px) {
    .intro-message h1 {
        font-size: 31px;
        margin-left: -40px;
    }

    .rs-cards-shelf {
        margin-top: 230px; /* Brings it down */
        margin-left: -40px;
        max-width: 150%;
    }

    .rf-cards-scroller-itemview {
        width: 80vw; /* Almost full width */
    }

    .rs-cards-shelf-mainheader {
        font-size: 24px;
    }

    .card-footer {
        font-size: 13px;
    }

    .rf-ccard-overlay .second-txt {
        font-size: 0px;
    }
}

@media (max-width: 411px) {

    .intro-message h1 {
        font-size: 27px;
    }

    .rs-cards-shelf {
        margin-top: 200px; /* Brings it down */
    }

    .rf-cards-scroller-itemview {
        width: 83vw; /* Almost full width */
    }

    .rs-cards-shelf-mainheader {
        font-size: 23px;
    }

    .card-footer {
        font-size: 12px;
    }

    .rf-ccard-overlay .first-txt {
        font-size: 1.3em;
    }
    
    .rf-ccard-overlay .second-txt {
        font-size: 0px;
    }
}